@import "../../../Constants/Colors/colors.scss";

.gallery--container {
  width: 70%;
  height: 90%;
  border-radius: 20px;
  background-color: rgba($white, 0.95);
  margin: 0 auto;
  align-self: center;
  padding: 40px 75px;
  max-width: 1500px;

  .images--container {
    width: 100%;
    margin-top: 20px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    overflow-y: auto;
    height: 800px;

    img {
      max-width: 350px;
      width: 100%;
    }

    img:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
